.App {
  text-align: center;
  margin-top:10px;
}

.button {
      background-color: green;
      width:130px;
      border:1px solid black;
      color:yellow;
}

.button:hover {
            background-color : lightgreen;
            color:black;
        }
